.servicesGrid {
  margin-top: 2rem;
}

@media (max-width: 1100px) {
  .servicesGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .servicesGrid {
    grid-template-columns: 1fr;
  }
}
